<div class="">
    <div class=" w-full pb-4">
        <div class="flex justify-between pl4 pr-4">
            <div class="p-4 text-2xl font-bold">{{userData?.name}}'s Mirror</div>
            <div class="flex items-center justify-center"><a routerLink="/settings" routerLinkActive="active"><img src="../../../assets/img/settings.svg" alt=""></a></div>
        </div>
    <!-- <div class="grid grid-cols-3 grid-rows-2 gap-2 pl-4 pr-4">
        <div class="shadow-xl w-28 h-28 md:w-40 md:h-40 rounded-xl flex items-center justify-center"><img src="../../../assets/img/plus_gray.svg" alt=""></div>
        <div class="shadow-xl w-28 h-28 md:w-40 md:h-40 rounded-xl flex items-center justify-center"><img src="../../../assets/img/plus_gray.svg" alt=""></div>
        <div class="shadow-xl w-28 h-28 md:w-40 md:h-40 rounded-xl flex items-center justify-center"><img src="../../../assets/img/plus_gray.svg" alt=""></div>
        <div class="shadow-xl w-28 h-28 md:w-40 md:h-40 rounded-xl flex items-center justify-center"><img src="../../../assets/img/plus_gray.svg" alt=""></div>
        <div class="shadow-xl w-28 h-28 md:w-40 md:h-40 rounded-xl flex items-center justify-center"><img src="../../../assets/img/plus_gray.svg" alt=""></div>
        <div class="shadow-xl w-28 h-28 md:w-40 md:h-40 rounded-xl flex items-center justify-center"><img src="../../../assets/img/plus_gray.svg" alt=""></div>
    </div>
</div> -->

<div class="grid grid-cols-3 grid-rows-2 gap-2 pl-4 pr-4" >
    <ng-container *ngFor="let empty of emptyPositions">
        <div class="shadow-xl w-28 h-28 md:w-40 md:h-40 rounded-xl flex items-center justify-center">
            <img src="../../../assets/img/plus_gray.svg" alt="">
        </div>
    </ng-container>
    <ng-container *ngFor="let component of userComponents">
    <div *ngIf="component.id == 'weather'" class="{{positions.weather}} bg-gray-500 relative shadow-xl w-28 h-28 md:w-40 md:h-40 rounded-xl flex items-center justify-center">
        <div class="absolute" style="left: -8px; top: -8px"><img src="../../../assets/img/delete.svg" alt=""></div>
        <app-weather></app-weather>
    </div>
</ng-container>
<ng-container *ngFor="let component of userComponents">
    <div *ngIf="component.id == 'clock' " class="{{positions.clock}} shadow-xl w-28 h-28 md:w-40 md:h-40 rounded-xl flex items-center justify-center">
        <app-clock></app-clock>
    </div>
</ng-container>
</div>

</div>
<div>
    <div class="p-4 text-xl font-bold">Add components</div>
    <div class="grid grid-cols-1 gap-2 pl-4 pr-4">
        <div class="shadow-xl w-full rounded-xl">House Temperature</div>
        <div class="shadow-xl w-full rounded-xl">House Temperature</div>
    </div>
</div>

<!-- <div *ngFor="let component of userComponents">
    <div *ngIf="component.id == 'weather'">
        W
    </div>
    <div *ngIf="component.id == 'clock'">
        <app-clock type={{component.clockType}}></app-clock>
    </div>
    <div class="p-4 text-xl font-bold">{{component.id}}</div>
</div> -->

