<div class="">
  <div class="w-full pb-4">
    <div class="flex justify-between pl4 pr-4">
      <div class="p-4 text-2xl font-bold">{{ userData?.name }}'s Mirror</div>
      <div class="flex items-center justify-center">
        <a routerLink="/settings" routerLinkActive="active"
          ><img src="../../../assets/img/settings.svg" alt=""
        /></a>
      </div>
    </div>
    <button (click)="login()" *ngIf="this.signedOut" class="bg-blue-800">
      Login
    </button>

    <div
      class="grid grid-cols-3 grid-rows-2 gap-2 pl-4 pr-4"
      *ngIf="!this.selectorOpen"
    >
      <ng-container *ngFor="let empty of emptyPositions">
        <div
          class="aspect-w-1 aspect-h-1 shadow-xl rounded-xl flex items-center justify-center"
          [style]="empty.style"
          (click)="openSelector(empty.position)"  
        >
          <div class="p-4 flex items-center justify-center">
            <img src="../../../assets/img/plus_gray.svg" alt="" />
          </div>
        </div>
      </ng-container>

      <ng-container *ngFor="let widget of userWidgets">
        <div
          (click)="toggleDeleteButton(widget.fireID)"
          class="{{
            widget.classes
          }} relative shadow-xl rounded-xl flex items-center justify-center"
          [style]="widget.style"
        >
          <div
            (click)="deleteWidget(widget)"
            id="{{ widget.fireID }}"
            class="hidden absolute"
            style="left: -8px; top: -8px;"
          >
            <img src="../../../assets/img/delete.svg" alt="" />
          </div>

          <app-weather *ngIf="widget.id == 'weather'" [properties]="widget.properties"></app-weather>
          <div class="flex items-center justify-center">
            <app-clock *ngIf="widget.id == 'clock'"></app-clock>
          </div>
          <app-sbb *ngIf="widget.id == 'sbb'"></app-sbb>
          <app-meme *ngIf="widget.id == 'meme'"></app-meme>          
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="this.selectorOpen">
    <div class="p-4" (click)="this.selectorOpen = false">
      <img src="../../../assets/img/ui/backbutton.svg" width="35px" alt="">
    </div>
    <div class="p-4 text-xl font-bold">Add component</div>
    <div class="grid grid-cols-3 grid-rows-2  gap-2 pl-4 pr-4">
      <div
        class="aspect-w-1 aspect-h-1 shadow-xl rounded-xl flex items-center justify-center"
        *ngFor="let widget of allWidgets"
        (click)="addWidget(widget.id)"
      >
      <div class="p-2">
       <div class="text-lg font-semibold">
         {{ widget.name }}
      </div>
      <div class="text-sm">
        {{ widget.description }}
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
